<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">

    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </section>
  
    <section class="">
      <div class="container text-center text-md-start mt-5">

        <div class="row mt-3">

            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Paulin NBA
            </h6>
            <p>
             Aqui você ficará ligado em tudo sobre NBA.
            </p>
          </div>
  
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

            <h6 class="text-uppercase fw-bold mb-4">
              Sobre
            </h6>
            <p>
              <a href="#!" class="text-reset">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Html</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Css</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Bootstrap</a>
            </p>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

            <h6 class="text-uppercase fw-bold mb-4">
              Links úteis
            </h6>
            <p>
              <a href="http://localhost:4200/jogadores" class="text-reset">Jogadores</a>
            </p>
            <p>
              <a href="http://localhost:4200/lendas" class="text-reset">Hall of famers</a>
            </p>
            <p>
              <a href="http://localhost:4200/card" class="text-reset">Times</a>
            </p>
            <p>
              <a href="http://localhost:4200/principal" class="text-reset">Sobre</a>
            </p>
          </div>
    
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Juiz de Fora, MG, 36015-260</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              paulo.batista025@outlook.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 55 32 98888-9999</p>
            <p><i class="fas fa-print me-3"></i> + 55 32 3232-3289</p>
          </div>

        </div>

    </div>
    </section>
  
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">PauloNBA.com</a>
    </div>
  </footer>
