<div class="card-container">
    <mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Golden State Warriors</mat-card-title>
    </mat-card-header>
    <img mat-card-xl-image src="https://yt3.googleusercontent.com/4rr4_4YD0SuIA0cog6uovKk_yRTSb-2ikAFTvfUoOuNw-gkU735-Q5i3l4BWUh5MzVxahJTgJF8=s900-c-k-c0x00ffffff-no-rj" >
    <mat-card-content>
        Time mais vitorioso da ultima decáda, referencia por mudar a forma que o basquete é jogado.
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Chicago Bulls</mat-card-title>
    </mat-card-header>
    <img mat-card-xl-image src="https://i.pinimg.com/originals/13/55/7f/13557f031aa57385ffc77cda0e6ca905.jpg" >
    <mat-card-content>
        Time tradicional vitorioso e um dos mais famosos mundialmente.
    </mat-card-content>
  </mat-card>
  
  <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Los Angeles Lakers</mat-card-title>
    </mat-card-header>
    <img mat-card-xl-image src="https://yt3.googleusercontent.com/Wg7Ef-8C9NrsXdk4MgULouR9FpMkHXNprfselSCQwQ82tCy-BBccC05l9ke3N2mwXeUdsaOlPQ=s900-c-k-c0x00ffffff-no-rj" >
    <mat-card-content>
        Um dos maiores time da historia e o mais vitorioso, rivaliza com Boston Celtics desda decáda de 60.
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Boston Celtics</mat-card-title>
    </mat-card-header>
    <img mat-card-xl-image src="https://yt3.googleusercontent.com/kUSYdmbDFsc5UPiCdvSMC64WBIyRgQUG6Kmobo2ItTBz-IvJPI3POduVqI_3aj88ydPvVU0Xc9k=s900-c-k-c0x00ffffff-no-rj" >
    <mat-card-content>
        Time mais vitorioso da história ao lado do Lakers com 17 títulos.
    </mat-card-content>
  </mat-card>

