<div class="card-container">
    <mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Stephen Curry</mat-card-title>
    </mat-card-header>
    <img mat-card-xl-image src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Stephen_Curry_2016_%28cropped%29.jpg" >
    <mat-card-content>
        Segundo maior jogador em atividade, conhecido não só pela habilidade e por ser o melhor shooter da história, mas também por revolucionar a forma que o basquete é jogado.
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Lebron James</mat-card-title>
    </mat-card-header>
    <img mat-card-xl-image src="https://lakersbrasil.com/data/posts/noticia-secundaria_5fd9e63d736f0_quadrada.jpg" >
    <mat-card-content>
        Maior jogador em atividade e 2º melhor da história, se tornou destaque desde que entrou na Liga aos 18 anos de idade após se formar no ensino medio.
    </mat-card-content>
  </mat-card>
  
  <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Nikola Jokic</mat-card-title>
    </mat-card-header>
    <img mat-card-xl-image src="https://images.sportschau.de/image/80968afc-dfcb-474d-bcf8-39c4b8fffd44/AAABiHrCuyA/AAABibBxyuw/1x1-256/nuggets-spiel-eins-100.jpg" >
    <mat-card-content>
        Melhor jogador do mundo atualmente, conhecido pela forma como joga, é um pivô que nao pula alto apesar de ter 2,11m.
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Luka Doncic</mat-card-title>
    </mat-card-header>
    <img mat-card-xl-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThTnAXIkJdZBeb7h9NS7r86r7ivaeYRQb10bQk5jWm7aZZ6XVEH-aZgREuzfmpr1OiCOc&usqp=CAU" >
    <mat-card-content>
        Jogador que apesar de ser muito novo, ja é um dos melhores do mundo. Possui uma habilidade completamente diferente de todos os outros, não é atoa que é chamado de garoto prodigio.
    </mat-card-content>
  </mat-card>

