  <body>

    <div class="container">
      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Tudo sobre NBA</h1>
          <p class="lead my-3">Aqui você poderá ver sobre </p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">Copa FIBA</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Luka Doncic na copa</a>
              </h3>
              <div class="mb-1 text-muted">Agosto 27</div>
              <p class="card-text mb-auto">Luka tem outra atuação monstruosa e garante vitória para Eslovenia na copa do mundo FIBA.</p>
              <a href="#">Continuar lendo</a>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="https://i.pinimg.com/200x/18/f2/b6/18f2b6b6bf031b7d3032d0f5e4e3dcf9.jpg" data-holder-rendered="true">
          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Design</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Estatua de Kobe Bryant</a>
              </h3>
              <div class="mb-1 text-muted">Agosto 27</div>
              <p class="card-text mb-auto">Lakers criara uma estátua de Kobe em sua homenagem.</p>
              <a href="#">Continuar lendo</a>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="https://sg-res.9appsdownloading.com/sg/res/jpg/c4/0d/d721153bbe41cff30d74cfe50892-zp12.jpg?x-oss-process=style/mq200" data-holder-rendered="true">
          </div>
        </div>
      </div>
    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            Nova temporada
          </h3>

          <div class="blog-post">
            <h2 class="blog-post-title">Temporada NBA 2023/24</h2>
            <p class="blog-post-meta">Agosto 27 <a href="#">Acesse</a></p>

            <p>Será implementado na próxima temporada a nova copa NBA, que funcionára como um campeonato de eliminação enquanto ocorre a temporada regular. A copa NBA será dividida em grupos de 4 times e 2 avançarão para o mata-mata. Esse novo campeonato começará em novembro e terminara até Dezembro.</p>
  

<svg xmlns="http://www.w3.org/2000/svg" width="200" height="250" viewBox="0 0 200 250" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="13" style="font-weight:bold;font-size:13pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg>